<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <!-- @if (showFiller) {
            <p>Lorem, ipsum dolor sit amet consectetur.</p>
        } -->
        <!-- <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
        </button> -->
        <a [routerLink]="['/home']" class="btn">
            Inicio
        </a>
        <a [routerLink]="['/tables']" class="btn">
            Mesas
        </a>
        <a [routerLink]="['/kitchen']" class="btn">
            Cozinha
        </a>
        <a [routerLink]="['/payment']" class="btn">
            Pagamento
        </a>
    </mat-drawer>
    
    <!-- Top Navbar -->
    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
            <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
        </button>
        <app-top-nav></app-top-nav>
    </div>
    
    <!-- Content -->
    <router-outlet />
    
</mat-drawer-container>