<div style="display: flex; text-align: center;margin-left: auto; margin-right: 0;">
    <table>
        <tr *ngFor="let row of tablesNumbers">
            <td *ngFor="let column of row">
                <div style="margin: 10px;" (click)="changeStatus(column-1)">
                    Mesa {{column}}
                    <div style="height: 80px; border: 1px solid transparent;width: 80px;border-radius: 5px;" 
                        [ngClass]="{
                            'btn-success' : tables[column-1].status == 1,
                            'btn-warning' : tables[column-1].status == 2,
                            'btn-danger'  : tables[column-1].status == 3,
                            'to-clean'     : tables[column-1].status == 5,
                            'btn-info'    : tables[column-1].status == 4,
                        }">
                    </div>
                </div>
            </td>
        </tr>
    </table>
    
    <div style="border: 1px solid black; border-radius: 5px;width: 15vw; margin:25px 0 0 20px; height: 90%;">
        <div>
            <p>Disponivel</p>
            <p>{{disponivel}}</p>
        </div>
        <div>
            <p>Encaminhado para cozinha</p>
            <p>{{fowardKitchen}}</p>
        </div>
        <div>
            <p>Pronto para servir</p>
            <p>{{readyToDeliver}}</p>
        </div>
        <div>
            <p>Aguardando pagamento</p>
            <p>{{waitingPayment}}</p>
        </div>
        <div>
            <p>Limpeza</p>
            <p>{{clean}}</p>
        </div>
        <hr>
        <div>
            <p>Total</p>
            <p>{{tablesCount}}</p>
        </div>

    </div>
</div>